In [57]:
import pandas as pd
import numpy as np

reviews_full = pd.read_json('reviews.json', lines=True)
reviews_full.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [58]:
reviews = reviews_full.sample(frac=0.1, replace=False, random_state=1)
reviews = reviews.reset_index(drop=True)
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,kJa4M0WsQaGwoMDSP0c-hw,sizanx4RIwRC3BfhQv8KOg,kPR47uxGqmQNIQkIZr2_Tg,5,1,0,0,Friendly staff and generous portions of great ...,2016-06-12 04:28:37
1,8qst2v9HE8tV7B3IFvtSIA,DXP3K7wG_nu9jYPzQ8xVFA,qHQPvp6pZ75fB63kOKUPqg,5,2,1,0,Job well done!! Thank you Rick for making our ...,2014-08-13 19:10:43
2,DYAIyC476YkouqJgXuUv_A,OTRxfMCtfrbUemIigxCaOg,vhIJ91MDgUuk4Cr9Kpj1Nw,4,1,0,0,I'm a big fan of Jimmy John's. This location i...,2012-04-29 10:58:50
3,vCJS9ok_G3OfuxCtT3UNYg,d84GXn6uhT1qyDEziAmR8Q,oH4iqq4kjJfXpHCgB9G1sw,4,0,0,0,Well Spa was surprisingly posh and I loved it!...,2013-11-14 21:10:14
4,rMpvc3Hua7qRtDph8_pnpw,Ixaz7mLwzGQGg_W2yfBGqg,kPR47uxGqmQNIQkIZr2_Tg,5,0,0,0,Wanted to try this place for a while and it di...,2015-07-17 22:52:49

In [59]:
%%time
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# tokenizer: tokenize the text. break text into sentences and sentences into words
reviews['tokens'] = reviews['text'].map(word_tokenize)
reviews['tokens'] = reviews['tokens'].map(lambda x: set(x))

# # lemmatizer: reduce words to their base form
lemmatizer = WordNetLemmatizer()
reviews['lemmatized'] = reviews['tokens'].map(lambda x: [lemmatizer.lemmatize(word) for word in x])
reviews['lemmatized'] = reviews['lemmatized'].map(lambda x: set(x))

# # remove stop words
stop_words = set(stopwords.words('english'))
reviews['processed'] = reviews['lemmatized'].map(lambda x: [word for word in x 
                                                            if word.lower() not in stop_words])

# remove punctuations
punc = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~..."
reviews['processed'] = reviews['processed'].map(lambda x: [word for word in x 
                                                           if word.lower() not in punc])

# # remove some other stuff and return lower case
others = ["''", "``", "n't", "l", "'m", "'s"]
reviews['processed'] = reviews['processed'].map(lambda x: [word.lower() for word in x 
                                                 if word.lower() not in others])

reviews.head()

Wall time: 16.5 s

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,tokens,lemmatized,processed
0,kJa4M0WsQaGwoMDSP0c-hw,sizanx4RIwRC3BfhQv8KOg,kPR47uxGqmQNIQkIZr2_Tg,5,1,0,0,Friendly staff and generous portions of great ...,2016-06-12 04:28:37,"{great, all, staff, generous, portions, ., fis...","{great, all, rock, staff, generous, ., fish, e...","[great, rock, staff, generous, fish, eat, u, f..."
1,8qst2v9HE8tV7B3IFvtSIA,DXP3K7wG_nu9jYPzQ8xVFA,qHQPvp6pZ75fB63kOKUPqg,5,2,1,0,Job well done!! Thank you Rick for making our ...,2014-08-13 19:10:43,"{time, He, to, was, look, yearly, best, We, hi...","{time, to, He, look, yearly, wa, best, We, his...","[time, look, yearly, wa, best, much, beautiful..."
2,DYAIyC476YkouqJgXuUv_A,OTRxfMCtfrbUemIigxCaOg,vhIJ91MDgUuk4Cr9Kpj1Nw,4,1,0,0,I'm a big fan of Jimmy John's. This location i...,2012-04-29 10:58:50,"{to, fifteenish, ridiculously, place, my, of, ...","{to, hit, fifteenish, ridiculously, place, my,...","[hit, fifteenish, ridiculously, place, add, ha..."
3,vCJS9ok_G3OfuxCtT3UNYg,d84GXn6uhT1qyDEziAmR8Q,oH4iqq4kjJfXpHCgB9G1sw,4,0,0,0,Well Spa was surprisingly posh and I loved it!...,2013-11-14 21:10:14,"{table, to, was, posh, any, I, loungers, good,...","{table, to, posh, any, I, wa, good, lounger, m...","[table, posh, wa, good, lounger, nice, great, ..."
4,rMpvc3Hua7qRtDph8_pnpw,Ixaz7mLwzGQGg_W2yfBGqg,kPR47uxGqmQNIQkIZr2_Tg,5,0,0,0,Wanted to try this place for a while and it di...,2015-07-17 22:52:49,"{table, to, My, was, breakfast, time, did, cre...","{table, to, My, breakfast, time, dessert, did,...","[table, breakfast, time, dessert, cream, wa, p..."

In [64]:
processed_reviews = reviews['processed'].copy()

In [65]:
import gensim
from gensim.models import Phrases
bigram = Phrases(processed_reviews, min_count=50)
for idx in range(len(processed_reviews)):
    for token in bigram[processed_reviews[idx]]:
        if '_' in token:
            processed_reviews[idx].append(token)

In [69]:
ReviewswStars = pd.DataFrame(processed_reviews)
ReviewswStars['stars'] = reviews['stars']
ReviewswStars

                                               processed  stars
0      [great, rock, staff, generous, fish, eat, u, f...      5
1      [time, look, yearly, wa, best, much, beautiful...      5
2      [hit, fifteenish, ridiculously, place, add, ha...      4
3      [table, posh, wa, good, lounger, nice, great, ...      4
4      [table, breakfast, time, dessert, cream, wa, p...      5
...                                                  ...    ...
10224  [nothing, wa, average, cheese, ordered, loud, ...      2
10225  [would, contract, server, mention, people, sma...      1
10226  [4.5, try, plan, close, craving, hh, price, fr...      4
10227  [many, neon, place, plate, sat, omelette, pepp...      4
10228  [appointment, many, wa, fantastic, lined, sinc...      5

[10229 rows x 2 columns]

### Manual Cross-Validation

In [200]:
from sklearn import model_selection
from gensim import corpora, models
from sklearn.ensemble import RandomForestRegressor
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(ReviewswStars['processed'], ReviewswStars['stars'], test_size = 0.2)

In [201]:
Train_X = Train_X.reset_index()
Train_X = Train_X['processed']
Train_Y = Train_Y.reset_index()
Train_Y = Train_Y['stars']

Test_X = Test_X.reset_index()
Test_X = Test_X['processed']
Test_Y = Test_Y.reset_index()
Test_Y = Test_Y['stars']

In [292]:
RandomForest = RandomForestRegressor()
ModelTable = pd.DataFrame(columns = ['BelowThreshold', 'AboveThreshold', 'Topics', 'Passes', 'Workers','Score'])
p=0

##These are verified through X-validation

belows = [20]
aboves = [.4]
numtop = [3]
numpasses = [20]
numworkers = [3]

dictionary_train = gensim.corpora.Dictionary(Train_X)
dictionary_test = gensim.corpora.Dictionary(Test_X)

for belowtest in belows:
    
    for abovetest in aboves:
        
        dictionary_train.filter_extremes(no_below=belowtest, no_above=abovetest)
        train_corpus = [dictionary_train.doc2bow(review) for review in Train_X]
        
        dictionary_test.filter_extremes(no_below=belowtest, no_above=abovetest)
        test_corpus = [dictionary_test.doc2bow(review) for review in Test_X]
        

        for top in numtop:
            
            X_Train_WProbs = pd.DataFrame(Train_X.copy())
            X_Test_WProbs = pd.DataFrame(Test_X.copy())
            
            for i in range(0,top):
                
                newcol = "Topic_{}".format(i)
                
                X_Train_WProbs.insert(1,column = newcol, value = 0)
                
                X_Test_WProbs.insert(1,column = newcol, value = 0)
                
            for numpass in numpasses:
                
                for work in numworkers:
                    
                    lda_model = gensim.models.LdaMulticore(train_corpus, num_topics = top, id2word=dictionary_train, passes = numpass, workers = work)
                
                    lda_model.save('lda_train.model')
                    train_vecs = []
                    for i in range(len(Train_X)):
                        top_topics_train = lda_model.get_document_topics(train_corpus[i], minimum_probability=0.0)
                        topic_vec_train = [top_topics_train[i][1] for i in range(0,top)]
                        train_vecs.append(topic_vec_train)
                    
                    test_vecs = []
                    for i in range(len(Test_X)):
                        top_topics_test = lda_model.get_document_topics(test_corpus[i], minimum_probability=0.0)
                        topic_vec_test = [top_topics_test[i][1] for i in range(0,top)]
                        test_vecs.append(topic_vec_test)
                        
            
                    ModelTable.append(ModelRow)
                    for n in range(0,len(train_vecs)):
                        vec = train_vecs[n]
                        for i in range(0,len(vec)):
                            ColTitle = "Topic_{}".format(i)
                            X_Train_WProbs.loc[n,ColTitle] = vec[i]


                    for n in range(0,len(test_vecs)):
                        vec = test_vecs[n]
                        for i in range(0,len(vec)):
                            ColTitle = "Topic_{}".format(i)
                            X_Test_WProbs.loc[n,ColTitle] = vec[i]

                    if p==0:
                        X_train_regression = X_Train_WProbs.drop('processed', axis = 1, inplace = False)
                        X_test_regression = X_Test_WProbs.drop('processed', axis = 1, inplace = False)
                    
                    
                    
RandFor = RandomForest.fit(X_train_regression, Train_Y)
Preds = RandFor.predict(X_test_regression)
Score = np.mean((Preds-Test_Y)**2)
ModelTable.loc[p,['BelowThreshold', 'AboveThreshold', 'Topics', 'Passes', 'Workers','Score']] = [belowtest, abovetest, top,numpass,work,Score]
p +=1

C:\Users\blueh\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [ ]:
parameters = {
     "n_estimators"    : [1,3,5],
     "max_depth"        :[2,3,4],
     "criterion"            : ['mae','mse'],
     "colsample_bytree" : [0.2, 0.3, 0.4],
     }

grid = GridSearchCV(clf,
                    parameters, n_jobs=4,
                    scoring="accuracy",
                    cv=5)

grid.fit(X_train, Y_train)

In [293]:
ModelTable2 = ModelTable.copy()

In [294]:
ModelTable2

  BelowThreshold AboveThreshold Topics Passes Workers    Score
0             10            0.1      3     20       3   2.8112
1             10            0.2      3     20       3  2.81479
2             10            0.4      3     20       3  2.78232
3             20            0.1      3     20       3  2.81342
4             20            0.2      3     20       3  2.82164
5             20            0.4      3     20       3  2.77348
6             50            0.1      3     20       3   2.7898
7             50            0.2      3     20       3  2.81886
8             50            0.4      3     20       3   2.8077

In [ ]:
parameters = {
     "n_estimators"    : [1,3,5],
     "max_depth"        :[2,3,4],
     "criterion"            : ['mae','mse'],
     "colsample_bytree" : [0.2, 0.3, 0.4],
     }

grid = GridSearchCV(clf,
                    parameters, n_jobs=4,
                    scoring="accuracy",
                    cv=5)

grid.fit(X_train, Y_train)

#### Run LDA on BOW